@font-face {
  font-family: "Ubuntu Mono Regular";
  src: url("./UbuntuMono-Regular.ttf") format("ttf");
  font-style: normal;
}


*{
    font-family: 'Ubuntu Mono Regular', sans-serif;
}

.todo {
  color: red;
}
.hello {
  color: purple;
}

.done {
  color: green;
}

.doing {
  color: blue;
}
